/************* MOBILE FIRST *************/

.App {
  text-align: center;
  text-shadow: 0.2vw 0.2vw 0.2vw black, -0.2vw -0.2vw 0.2vw black;
  /*  width: 100%; */
}

.bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.title {
  margin-top: 15vw;
}

.title h1 {
  font-size: 10vw;
  opacity: 0.9;
}

.title h2 {
  font-size: 6vw;
  margin-top: -13vw;
  color: rgb(43, 255, 0);
  opacity: 0.7;
}

.question {
  margin: 10vw auto;
  width: 70%;
  font-weight: bold;
}

.question p {
  font-size: 6vw;
  color: rgb(255, 221, 0);
}

/******** CHECKBOX ********/

.checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vw;
  color: red;
}

.checkbox input[type='checkbox'] {
  width: 5.5vw;
  height: 5.5vw;
  margin-left: 2vw;
}

.checkbox input[type='checkbox']:hover,
.checkbox label {
  cursor: pointer;
}

/* .checkbox {
  font-size: 4vw;
  position: relative;
  width: 25%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox input[type='checkbox'] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  left: 1vw;
  top: 1vw;
  width: 3vw;
  height: 3vw;
}

.checkbox label::before {
  content: '';
  width: 3vw;
  height: 3vw;
  border-radius: 0.15em;
  margin-right: 0.5em;
  background-color: rgb(235, 235, 235);
  border: 0.05em solid white;
}

.checkbox label:hover::before,
.checkbox input[type='checkbox']:hover + label::before {
  background-color: #35e07d;
} */

/* .checkbox input[type='checkbox']:checked::before {
  content: '\002714';
  background-color: #4427ae;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  width: 3vw;
  height: 3vw;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.05em solid white;
} */

/* .checkbox input[type='checkbox']:checked + label::before {
  content: '\002714';
  background-color: #4427ae;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 3vw;
  color: rgb(0, 0, 0);
  border-radius: 0.15em;
  border: 0.05em solid white;
} */

/* #no:hover {
  cursor: pointer;
} */

/******** /CHECKBOX ********/

.suggestion-container {
  width: 70%;
  margin: 0 auto;
  font-size: 5vw;
  color: rgb(255, 237, 122);
}

.suggestion-container .separation,
.suggestion-container .suggestion-wrapper {
  margin-top: 10vw;
}

.suggestion-container .suggestion-wrapper {
  width: 80%;
  margin: auto;
  padding: 4vw;
}

.suggestion-container label {
  font-size: 7vw;
  font-weight: bold;
  color: rgb(147, 205, 255);
}

.suggestion-container #suggestion-input {
  border-radius: 0.8vw;
  border: none;
  margin-top: 4vw;
  width: 50vw;
  height: 10vw;
  font-size: 6vw;
  font-weight: bold;
  cursor: text;
  padding: 0 1vw;
}

.suggestion-container button {
  padding: 2vw 5vw;
  margin-top: 10vw;
  font-size: 5vw;
}

.list {
  text-align: left;
}

ul {
  font-size: 5vw;
}

h3 {
  padding-left: 4vw;
  font-size: 6vw;
}
