/************* MOBILE FIRST *************/

.App {
  text-align: center;
  text-shadow: 0.2vw 0.2vw 0.2vw black, -0.2vw -0.2vw 0.2vw black;
  /*  width: 100%; */
}

.bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.title {
  margin-top: 15vw;
  animation: comingUp 1s;
}

.title h1 {
  font-size: 10vw;
  opacity: 0.9;
}

.title h2 {
  font-size: 6vw;
  margin-top: -13vw;
  color: rgb(43, 255, 0);
  opacity: 0.7;
}

.question {
  margin: 10vw auto;
  width: 70%;
  font-weight: bold;
}

.question p {
  font-size: 6vw;
  color: rgb(255, 221, 0);
}

/******** CHECKBOX ********/

.checkbox {
  position: relative;
  font-size: 8vw;
  color: red;
}

.checkbox input[type='checkbox'] {
  width: 5.8vw;
  height: 5.8vw;
  margin-left: 2vw;
}

.checkbox input[type='checkbox']:hover,
.checkbox label {
  cursor: pointer;
}

#checkbox-button {
  padding: 2vw 5vw;
  margin-top: 8vw;
  font-size: 5vw;
}

/******** INPUT TEXT FIELD ********/

.suggestion-container {
  width: 70%;
  margin: 0 auto;
  font-size: 5vw;
  color: rgb(255, 237, 122);
}

.suggestion-container .separation,
.suggestion-container .suggestion-wrapper {
  margin-top: 10vw;
}

.suggestion-container .suggestion-wrapper {
  width: 80%;
  margin: auto;
  padding: 4vw;
}

.suggestion-container label {
  font-size: 7vw;
  font-weight: bold;
  color: rgb(147, 205, 255);
}

.suggestion-container #suggestion-input {
  border-radius: 0.8vw;
  border: none;
  margin-top: 4vw;
  width: 50vw;
  height: 10vw;
  font-size: 6vw;
  font-weight: bold;
  cursor: text;
  padding: 0 1vw;
}

.suggestion-container button {
  padding: 2vw 5vw;
  margin-top: 10vw;
  font-size: 5vw;
}

/******** LIST OF SUGGESTED CLANS ********/

.list {
  text-align: left;
}

ul {
  font-size: 5vw;
}

h3 {
  padding-left: 4vw;
  font-size: 6vw;
}

/******** COMING TITLE ********/

@keyframes comingUp {
  0% {
    transform: translateY(-50vw);
  }
  100% {
    transform: translateY(0);
  }
}
