/************* MOBILE FIRST *************/

.App {
  text-align: center;
  text-shadow: 0.2vw 0.2vw 0.2vw black, -0.2vw -0.2vw 0.2vw black;
  /*  width: 100%; */
}

.bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.title {
  margin-top: 15vw;
}

.title h1 {
  font-size: 9vw;
  opacity: 0.9;
}

.title h2 {
  font-size: 6vw;
  margin-top: -13vw;
  color: rgb(43, 255, 0);
  opacity: 0.7;
}

.question {
  font-size: 5vw;
  margin: 8vw auto;
  width: 70%;
  font-weight: bold;
}

.question p {
  color: rgb(255, 221, 0);
}

.question .checkbox-container {
  color: red;
  font-size: 6vw;
  width: 60%;
  margin: auto;
}

.question .checkbox-container #no {
  width: 5vw;
  height: 5vw;
  margin-left: 1vw;
}

.question button {
  width: 30%;
  height: 5vw;
  margin-top: -0.4vw;
  font-size: 2.2vw;
}

.suggestion-container {
  width: 70%;
  margin: 0 auto;
  font-size: 3vw;
  color: rgb(255, 237, 122);
}

.suggestion-container .separation,
.suggestion-container .suggestion-wrapper {
  margin-top: 10vw;
}

.suggestion-container .suggestion-wrapper {
  width: 60%;
  margin: auto;
  padding: 4vw;
}

.suggestion-container label {
  font-size: 5vw;
  font-weight: bold;
  color: rgb(147, 205, 255);
}

.suggestion-container #suggestion-input {
  border-radius: 0.8vw;
  border: none;
  margin-top: 2vw;
  width: 30vw;
  height: 5vw;
  font-size: 3vw;
  font-weight: bold;
  cursor: text;
  padding: 0 1vw;
}

.suggestion-container button {
  width: 15vw;
  height: 5vw;
  margin-top: 5vw;
  font-size: 2.5vw;
}
