.App {
  text-align: center;
}

h1 {
  font-size: 8vw;
  margin-top: 2vw;
}

h2 {
  font-size: 5vw;
  margin-top: -6vw;
  color: rgb(41, 244, 0);
}

.question {
  font-size: 2vw;
}

.inputs {
  width: 20%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input {
  width: 1.5vw;
  height: 1.5vw;
}

.bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
