* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: rgb(245, 245, 245);
  width: 100vw;
  height: 100vh;
}



/* Original-surfer */
.surfer {
  font-family: 'Original Surfer';
}

/* Montserrat */
.ms-300,
.ms-400,
.ms-500,
.ms-600,
.ms-700,
.ms-800,
.ms-900 {
  font-family: 'Montserrat';
}

.ms-300 {
  font-weight: 300;
}

.ms-400 {
  font-weight: 400;
}

.ms-500 {
  font-weight: 500;
}

.ms-600 {
  font-weight: 600;
}

.ms-700 {
  font-weight: 700;
}

.ms-800 {
  font-weight: 800;
}

.ms-900 {
  font-weight: 900;
}