* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: rgb(245, 245, 245);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
}

button {
  font-weight: bold;
  background-color: rgb(31, 188, 0);
  text-shadow: 0.1vw 0.1vw 0.1vw black, -0.1vw -0.1vw 0.1vw black;
  color: white;
  border: 0.2vw solid rgb(35, 70, 4);
  border-radius: 0.7vw;
}

button:hover {
  cursor: pointer;
}

ul {
  text-align: left;
  font-size: 5vw;
}

h3 {
  text-align: left;
  padding-left: 4vw;
  font-size: 6vw;
}

.flex-row {
  display: flex;
}

.felx-col {
  display: flex;
  flex-direction: column;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

/*********** FONTS ***********/

/* Original-surfer */
.surfer {
  font-family: 'Original Surfer';
}

/* Montserrat */
.ms-300,
.ms-400,
.ms-500,
.ms-600,
.ms-700,
.ms-800,
.ms-900 {
  font-family: 'Montserrat';
}

.ms-300 {
  font-weight: 300;
}

.ms-400 {
  font-weight: 400;
}

.ms-500 {
  font-weight: 500;
}

.ms-600 {
  font-weight: 600;
}

.ms-700 {
  font-weight: 700;
}

.ms-800 {
  font-weight: 800;
}

.ms-900 {
  font-weight: 900;
}
